# Compiled class files
*.class

# Log files
*.log

# Package Files #
*.jar
*.war
*.ear

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# Maven
target/

# Environment Files
.env
*.env

# Miscellaneous
*.tmp